body {
  background-color: rgb(103, 204, 170);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  margin-top: 1.5rem;
  margin-bottom: 3.5rem;
  text-align: center;
  font-weight: 600;
}

input, select {
  border-radius: 5px;
}


#content, #exchange-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

#exchange-form {
  background-color: rgba(180, 220, 255, 0.454);
  border: 1px solid black;
  border-radius: 15px;
  padding: 1rem;
}

#result > p {
  background-color: rgba(240, 248, 255, 0.546);
  padding: 1rem;
  margin-top: 2rem;
  border: 2px solid rgb(109, 108, 108);
  border-radius: 15px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: x-large;
}